.card {
    width: min(100% - 100px, 420px);
    height: 60px;

    margin: 30px auto;
    padding: 8px;

    background-color: var(--darkMain);
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.sideLine {
    background-color: var(--accentColor);
    height: 100%;
    width: 17px;
    border-radius: 9px 4px 4px 9px;
}

.wrapper {
    height: 95%;
    width: 100%;
    margin-left: 7px;
    margin-right: 5px;
    position: relative;
}

.wrapper div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit img{
    display: inline;
    height: 11px;
    padding: 0 5px;
}

.edit img:hover {
    outline-color: antiquewhite;
}

.wrapper div:nth-child(1) {
    top: 0;
    left: 0;

    color: var(--white);
    font-weight: 700;
    font-size: 17px;
}

.wrapper div:nth-child(2) {
    font-weight: 600;
    font-size: 11px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.wrapper div:nth-child(2) .reward_ico {
    margin-left: 3px;
    height: 18px;
}

.wrapper div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: left;
    bottom: 0;
    left: 0;
}

.wrapper div:nth-child(3) span {
    font-style: italic;
    font-size: 13px;
}

.wrapper div:nth-child(3) .clock_ico {
    height: 12px;
    margin-right: 5px;
}

.wrapper div:nth-child(4) {
    bottom: 0;
    right: 0;
    font-size: 13px;
}

.time {
    width: 75px;
    background-color: var(--accentColor);
    z-index: -1;
    position: absolute;
    transition: .2s cubic-bezier(0, 0, 0, 1.00);
    right: 10px;
    height: 100%;
    border-radius: 16px;

    display: flex;
    justify-content: right;
    align-items: center;
}

.time span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    height: 45%;

    font-weight: 600;
    font-size: 11px;
    margin-right: 6px;
}

.card:hover .time {
    right: -50px;
}

.card:hover {
    box-shadow: 10px 0px 10px rgba(32, 32, 32, 0.473);
}